@section scripts {

  @Scripts.Render("~/bundles/app")
}

<div ng-app="booksApp">
  <ul class="nav nav-tabs">
    <li><a href="#">Home</a></li>
    <li><a href="#/add-book">Add Book</a></li>
  </ul>

  <div class="row" ng-view></div>
  <div class="alert alert-danger" ng-show="error"><p>{{error}}</p></div>
</div>